---
http_interactions:
- request:
    method: get
    uri: http://services.ands.org.au/documentation/rifcs/example/rif.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 15 Nov 2011 23:11:54 GMT
      Etag:
      - ! '"41b1ee-193b-4b1ce1cf46280"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n<registryObjects xmlns=\"http://ands.org.au/standards/rif-cs/registryObjects\"\r\n
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n  xsi:schemaLocation=\"http://ands.org.au/standards/rif-cs/registryObjects
        http://services.ands.org.au/documentation/rifcs/schema/registryObjects.xsd\">\r\n
        \ <registryObject group=\"The Australian Partnership for Sustainable Repositories\">\r\n
        \    <key>au.edu.apsr.a1</key>\r\n     <originatingSource>http://devl.ands.org.au/deployment/cosi/orca/register_my_data</originatingSource>
        \  \r\n\r\n    <activity type=\"program\">\r\n      <name type=\"abbreviated\">\r\n
        \       <namePart>APSR</namePart>\r\n\r\n      </name>\r\n      <name type=\"primary\">\r\n
        \       <namePart>The Australian Partnership for Sustainable Repositories</namePart>\r\n
        \     </name>\r\n      <location>\r\n        <address>\r\n          <electronic
        type=\"url\">\r\n            <value>http://www.apsr.edu.au</value>\r\n\r\n
        \         </electronic>\r\n        </address>\r\n      </location>\r\n      <relatedObject>\r\n
        \       <key>au.edu.apsr.a2</key>\r\n        <relation type=\"funds\"/>\r\n
        \     </relatedObject>\r\n      <description type=\"brief\">The APSR Project
        aims to establish a centre of excellence for the management of scholarly assets
        in digital format. Online collections of scholarly materials are bringing
        about a quiet revolution in the way researchers work. Researchers have faster
        easier ways of finding and analyzing research materials. New modes of research
        and new research methodologies are all now possible. APSR is a partnership
        that aims to promote excellence in building and managing these collections
        of digital research objects.</description>\r\n    </activity>\r\n  </registryObject>\r\n
        \ <registryObject group=\"The Australian Partnership for Sustainable Repositories\">\r\n
        \     <key>au.edu.apsr.a2</key>\r\n     <originatingSource>http://dspace.anu.edu.au</originatingSource>\r\n\r\n
        \   <activity type=\"project\">\r\n      <name type=\"abbreviated\">\r\n        <namePart>ORCA</namePart>\r\n
        \     </name>\r\n      <name type=\"primary\">\r\n        <namePart>Online
        Research Collections Australia</namePart>\r\n      </name>\r\n      <location>\r\n
        \       <address><electronic type=\"url\"><value>http://services.ands.org.au/home/orca</value></electronic><physical><addressPart
        type=\"telephoneNumber\">123456789</addressPart></physical></address>\r\n
        \     </location>\r\n      <relatedObject>\r\n        <key>au.edu.apsr.a1</key>\r\n
        \       <relation type=\"isFundedBy\"/>\r\n      </relatedObject>\r\n      <description
        type=\"brief\">The ORCA Registry project has been established to improve the
        capacity of institutional repositories, archives and data centres to create
        and share collection-level information a[...]
