---
http_interactions:
- request:
    method: get
    uri: http://www.nla.gov.au/apps/srw/search/peopleaustralia?operation=explain&version=1.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" ?> \n<?xml-stylesheet type=\"text/xsl\"
        href=\"../explainResponse.xsl\"?>\n<SRW:explainResponse xmlns:SRW=\"http://www.loc.gov/zing/srw/\">\n
        \ <SRW:version>1.1</SRW:version>\n  <SRW:record>\n    <SRW:recordSchema>http://explain.z3950.org/dtd/2.0/</SRW:recordSchema>\n
        \   <SRW:recordPacking>xml</SRW:recordPacking>\n    <SRW:recordData>\n      <explain
        authoritative=\"true\" xmlns=\"http://explain.z3950.org/dtd/2.0/\">\n        <serverInfo
        protocol=\"SRW/U\">\n          <host>www.nla.gov.au</host>\n          <port>80</port>\n
        \         <database>apps/srw/search/peopleaustralia</database>\n          </serverInfo>\n
        \       <databaseInfo>\n          <title>Trove People and Organisations</title>\n
        \         <description>Records stored in the Trove People and Organisations
        repository </description>\n          <author>http://trove.nla.gov.au/people</author>\n
        \         <contact>Simon Jacob (mailto:sjacob@nla.gov.au)</contact>\n          <implementation
        version='1.1' indentifier='http://www.oclc.org/research/software/srw'>\n            <title>OCLC
        Research SRW Server version 1.1</title>\n            </implementation>\n          </databaseInfo>\n
        \       <metaInfo>\n          </metaInfo>\n        <indexInfo>\n          <set
        identifier=\"null\" name=\"pa\"/>\n          <index>\n            <title>pa.birthplace</title>\n
        \           <map>\n              <name set=\"pa\">birthplace</name>\n              </map>\n
        \           </index>\n          <index>\n            <title>pa.deathdecade</title>\n
        \           <map>\n              <name set=\"pa\">deathdecade</name>\n              </map>\n
        \           </index>\n          <set identifier=\"null\" name=\"bath\"/>\n
        \         <index>\n            <title>bath.possessingInstitution</title>\n
        \           <map>\n              <name set=\"bath\">possessingInstitution</name>\n
        \             </map>\n            </index>\n          <index>\n            <title>pa.existencedate</title>\n
        \           <map>\n              <name set=\"pa\">existencedate</name>\n              </map>\n
        \           </index>\n          <index>\n            <title>[...]
- request:
    method: get
    uri: http://www.nla.gov.au/apps/srw/search/peopleaustralia?maximumRecords=2&operation=searchRetrieve&query=rec.identifier=%22http://nla.gov.au/nla.party-1486629%22&recordSchema=http://ands.org.au/standards/rif-cs/registryObjects&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" ?> \n<searchRetrieveResponse
        xmlns=\"http://www.loc.gov/zing/srw/\"><version>1.1</version><numberOfRecords>1</numberOfRecords><resultSetId>azi0kg</resultSetId><resultSetIdleTime>600</resultSetIdleTime><records
        xmlns:ns1=\"http://www.loc.gov/zing/srw/\"><record><recordSchema>http://ands.org.au/standards/rif-cs/registryObjects</recordSchema><recordPacking>xml</recordPacking><recordData><registryObjects
        xmlns=\"http://ands.org.au/standards/rif-cs/registryObjects\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><registryObject
        group=\"National Library of Australia\"><key>http://nla.gov.au/nla.party-1486629</key><originatingSource
        type=\"authoritative\">http://trove.nla.gov.au/people</originatingSource><party
        dateModified=\"2012-09-05T17:15:04Z\" type=\"person\"><identifier type=\"AU-ANL:PEAU\">http://nla.gov.au/nla.party-1486629</identifier><identifier
        type=\"AU-QU\">http://services.ands.org.au/home/orca/rda/view.php?key=mirage.cmm.uq.edu.au/user/1</identifier><identifier
        type=\"AU-QU\">mirage.cmm.uq.edu.au/user/1</identifier><name type=\"alternative\"><namePart
        type=\"given\">Tim</namePart><namePart type=\"family\">Dettrick</namePart></name><location><address><electronic
        type=\"url\"><value>http://nla.gov.au/nla.party-1486629</value></electronic></address></location></party></registryObject></registryObjects></recordData><recordPosition>1</recordPosition></record></records><echoedSearchRetrieveRequest
        xmlns:ns2=\"http://www.loc.gov/zing/srw/\"><version>1.1</version><query>rec.identifier=&quot;http://nla.gov.au/nla.party-1486629&quot;</query><xQuery><ns3:searchClause
        xmlns:ns3=\"http://www.loc.gov/zing/cql/xcql/\"><ns3:index>rec.identifier</ns3:index><ns3:relation><ns3:value>=</ns3:value></ns3:relation><ns3:term>http://nla.gov.au/nla.party-1486629</ns3:term></ns3:searchClause></xQuery><maximumRecords>2</maximumRecords><recordSchema>http://ands.org.au/standards/rif-cs/registryObjects</recordSchema></echoedSearchRetrieveRequest></searchRetrieveResponse>"
  recorded_at: Mon, 10 Sep 2012 01:58:07 GMT
[...]
- request:
    method: get
    uri: http://services.ands.org.au/documentation/rifcs/schema/registryObjects.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 26 Oct 2011 22:36:38 GMT
      Etag:
      - ! '"432a50-223a-4b03b4a014980"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<xsd:schema version=\"1.3\"
        \n            xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n            xmlns=\"http://ands.org.au/standards/rif-cs/registryObjects\"\n
        \           targetNamespace=\"http://ands.org.au/standards/rif-cs/registryObjects\"\n
        \           elementFormDefault=\"qualified\"\n            attributeFormDefault=\"unqualified\">\n
        \    \n    <xsd:annotation>\n        <xsd:documentation xml:lang=\"en\">\n
        \           An early draft of an ISO2146 schema to promote discussion. This
        is intended as an alternative to that currently published on the draft ISO2146
        web site. It is based on experience from the pilot collection and services
        registry developed under the APSR ORCA project (see http://www.apsr.edu.au/orca/index.htm).\n
        \       </xsd:documentation>\n    </xsd:annotation>\n\n    <xsd:annotation>\n
        \       <xsd:documentation xml:[...]
