%ul.unstyled
  - email_uris(@doc).each do |uri|
    %li
      %i.icon-envelope
      %a{:href => uri.html_safe}
        =uri.gsub(/^mailto:/,'').html_safe
  - urls(@doc).each do |url|
    %li
      %i.icon-globe
      %a{:href => url}
        =url

%p.description{:property => 'dc:description'}
  =description(@doc).gsub(/\n/,"<br/>\n").html_safe