%span.block
  - if data.key? :href
    This work is licensed under
    %a{:property => property, :href => data[:href]}
      = data[:title]
    = '.'
  - else
    %span{:property => property}= data[:title]
  - if data.key? :logo
    %span.block
      %a{:property => property, :href => data[:href]}
        %img{:alt => data[:title], :src => data[:logo]}