<div class="share-button-container">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">
var addthis_config = {
   data_track_clickback: false
};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>
<!-- AddThis Button END -->
</div>