.page-header
  %h1 Metadata Records

.row-fluid

  #concepts.span12

    %ul.nav.nav-pills
      %li.active.type-display
        %a{:href => '#',
           'data-type' => '',
           :title => 'Click to show all records'}
          All
      - @types.sort.each do |ct|
        %li.type-display
          %a{:href => '#',
             'data-type' => ct,
             :title => 'Click to show '+ct.pluralize}
            = ct.pluralize.titleize

    - @concepts.each do |c|
      %p{'data-type' => c.type}
        = type_image(c.type)
        %a{:href => concept_path(c.id)}
          = c.title
