.page-header
  %h1 Metadata Records

.row-fluid

  #concepts.span12

    %ul#concept-type-filter.nav.nav-pills
      %li.active
        %a{:href => '#/',
           :title => 'Show all records'}
          All
      - @types.sort.each do |ct|
        %li
          %a{:href => '#/'+ct,
             :title => 'Show only '+ct.pluralize}
            = ct.pluralize.titleize

    - @concepts.each do |c|
      %p{'data-type' => c.type}
        = type_image(c.type)
        %a{:href => c.uuid ? concept_path(c.uuid) : concept_id_path(c.id)}
          = c.title
