%div.page-header
  .pull-right
    %form{ :action => '/recheck-sru-records', :method => 'POST' }
      %button.btn{ :type => 'submit' }
        Recheck SRU
  %h1 Metadata Record Statistics

%div.row-fluid
  %div.span12
    %h2 Stats

    %ul.unstyled
      - @stats.each do |k,v|
        %li
          %span.lead{ :style => 'display: inline-block; width: 3em; text-align: right' }
            = v
          %span= k
