<h1>OAI-PMH RIF-CS Record Collections</h1>

<% @collections.each do |rc| %>
  <h2><%= rc.endpoint %></h2>

  <table>
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Datestamp</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <% rc.records.each do |r| %>
        <tr>
          <td><%= r.identifier %></td>
          <td><%= r.datestamp %></td>
          <td><%= r.metadata.to_s.length %> bytes</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
