// Place all the styles related to the record controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sigma-parent {
  position: relative;
  border-radius: 4px;
  background: #222;
  height: 500px;
}

.sigma-expand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}